<div id="home">
  <div class="pure-container">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Login</a></li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="#" id="menuLink1" class="pure-menu-link">Menu</a>
          <ul class="pure-menu-children">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Pantry</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Shopping List</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Add A Drink!</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <h1>Your Favorite Cocktails!</h1>
    </div>
        <h3>Footer goes here</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
