<html>
<body class="index">
<div id="layout">
  <!-- Menu toggle -->
  <a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
  </a>

  <div id="menu">
    <div class="pure-menu">
      <a class="pure-menu-heading" href="/">Drink Menu</a>

      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="/favorites" class="pure-menu-link">Favorites</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Pantry</a></li>
        <li class="pure-menu-item"><a href="/signin" class="pure-menu-link">Sign In</a></li>
        <li class="pure-menu-item"><a href="/signup" class="pure-menu-link">Sign Up</a></li>

        
    </ul>
    </div>
  </div>

  <div id="main" class="container">
    
    <div class="header text-center">
      <h1>Cocktail Party</h1>
    </div>

      <div class="text-center">
        <form class="pure-container mb-4">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <form class="pure-form">
                <div class="input-group">
                  <input type="text" id="drinkName" class="form-control" value="Margarita"> 
                  <button type="button" id="searchButton" class="pure-button drink-search-button">Search</button> 
                </div> 
              </form>
            </div>
          </div>
      </div>
          <div class="form-group">
          </div>
          <div class="row">
            <div id="drinkImages" class="col-md-12 offset-1">
            </div>
          </div>
        </div>
        </form>
        <h3></h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
   {{!-- <div class="pure-g">
      <div class="pure-u-1-4">
        <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
      </div>
      <div class="pure-u-1-4">
        <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
      </div>
      <div class="pure-u-1-4">
        <img class="pure-img-responsive" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
      </div>
      <div class="pure-u-1-4">
       <img class="pure-img-responsive" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
      </div>
    </div>
  </div> --}}


{{!-- //<script src="/combo/1.18.13?/js/ui.js"></script>


//</body>

//<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
//<script src="/js/index.js"></script>
//<script src="/test/drinkapi.js"></script> --}}

