<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
 
<body class="signup">
    <form class="signup-form" id="signup" name="signup" method="post" action="/signup">
        <div class="signup-text">Sign up for Free!</div>
        <label for="email" class="signup-text">Email Address</label>
        <input id="signupInput" class="text" name="email" type="email" />
        <label for="firstname" class="signup-text">Firstname</label>
        <input id="signupInput" name="firstname" type="text" />
        <label for="lastname" class="signup-text">Lastname</label>
        <input id="signupInput" name="lastname" type="text" />
        <label for="password" class="signup-text">Password</label>
        <input id="signupInput" name="password" type="password" />
        <input class="btn" id="signup-button" type="submit" value="Sign Up" />
    </form>
 
</body>
 
</html>