<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body class="signup">
    <form class="signup-form" id="signin" name="signin" method="post" action="signin">
        <label class="signup-text" for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label class="signup-text" for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" id="signup-button" type="submit" value="Sign In" />
    </formclass="signup-form">
 
</body>
 
</html>